
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_HungLayout.cshtml";
}
<center>
<h1>Welcome to Bellevue Shop</h1>
<br>
<br>
<h2>Thank you for supporting a local business!</h2>
<h2>Bellevue Shop began as a small family business in 1989. 
    Our mission is to provide delicious quality produce to the communities we serve. 
    All our products are locally sourced and grown in the Pacific Northwest, and delivered to our shop fresh.</h2>


<br />
<br />
<h2>Store Hours</h2>
<h3>Daily 6 a.m. to 11 p.m.</h3>
<h3>Closed on major holidays</h3>


<br />
<br />
<h2>We are located in Bellevue Downtown</h2>
<h3>206-123-4567</h3>
<h3>12222 NE 4th St</h3>
<h3>Bellevue, WA 98004</h3>

</center>